<div class="row">
  <div class="col-md">
    <h2>Cell</h2>
    <p>Channel: <%= channelTitle %> #<%= c %><br>
    Frame: <%= frameTitle %> #<%= t %><br>
    Given Value: <%= givenValue %><br>
    Predicted Value: <%= predictedValue %></p>

    <div class="input-group mb-3">
      <button type="button" class="btn btn-primary" id="edit-selectnone">Select None</button>
    </div>
  </div>
</div>
