<h3><%= channelTitle %> @<%= t %></h3>
<p>At <%= c %>,<%= t %><br>
Given Value: <%= memory[c][t] %><br>
Predicted Value: <%= predictedValue %></p>

<div>
<%= posField %>
<%= negField %>
</div>

<div>
<%= posGain %>
<%= negGain %>
</div>
