<h3><%= channelTitle %> @<%= t %></h3>
<p>At <%= c %>,<%= t %><br>
Given Value: <%= givenValue %><br>
Predicted Value: <%= predictedValue %></p>

<div>
<%= posField %>
<%= posGain %>
</div>

<div>
<%= negField %>
<%= negGain %>
</div>

<div>
<%= priors %>
</div>
