<%= contextHtml %>
<%= posFactorsHtml %>
<%= negFactorsHtml %>

<p>
Positive probability: <%= posProb %><br>
Negative probability: <%= negProb %>
</p>

<p>
Positive support: <%= posSupport %><br>
Negative support: <%= negSupport %>
</p>
