<h3><%= channelTitle %> @<%= t %></h3>
<p>At <%= c %>,<%= t %><br>
Given Value: <%= givenValue %><br>
Predicted Value: <%= predictedValue %></p>

<div>
<%= priors %>
</div>
<div>
<%= weights %>
</div>
<div>
<%= redundancies %>
</div>
<div>
<%= relevances %>
</div>

<div>
<%= posField %>
<%= posDiff %>
<%= posGain %>
</div>

<div>
<%= negField %>
<%= negDiff %>
<%= negGain %>
</div>
