<form>
  <div class="form-group">
    <label for="field-length">Field length</label>
    <select class="form-control" id="field-length">
      <% fieldLengths.forEach(len => { %>
        <% if (len === currentFieldLength) { %>
          <option value="<%= len %>" selected="selected"><%= len %></option>
        <% } else { %>
          <option value="<%= len %>"><%= len %></option>
        <% } %>
      <% }) %>
    </select>
  </div>

  <div class="form-group">
    <label for="field-offset">Field offset</label>
    <select class="form-control" id="field-offset">
      <% fieldOffsets.forEach(off => { %>
        <% if (off === currentFieldOffset) { %>
          <option value="<%= off %>" selected="selected"><%= off %></option>
        <% } else { %>
          <option value="<%= off %>"><%= off %></option>
        <% } %>
      <% }) %>
    </select>
  </div>

  <div class="form-group">
    <label for="weight-factor">Weight factor</label>
    <select class="form-control" id="weight-factor">
      <% weightFactors.forEach(factor => { %>
        <% if (factor === currentWeightFactor) { %>
          <option value="<%= factor %>" selected="selected"><%= factor %></option>
        <% } else { %>
          <option value="<%= factor %>"><%= factor %></option>
        <% } %>
      <% }) %>
    </select>
  </div>
</form>
