<p>Here are some insights of how the prediction for the selected cell was done.</p>

<%= contextHtml %>
<%= posFactorsHtml %>
<%= negFactorsHtml %>

<p>
Positive prior: <%= posPrior %><br>
Negative prior: <%= negPrior %>
</p>

<p>
Positive probability: <%= posProb %><br>
Negative probability: <%= negProb %>
</p>

<p>
Positive support: <%= posSupport %><br>
Negative support: <%= negSupport %>
</p>
