<div class="row">
  <div class="col-md">
    <h2>Cell</h2>
    <p>Channel: <%= channelTitle %> #<%= c %><br>
    Frame: <%= frameTitle %> #<%= t %><br>
    Given Value: <%= givenValue %><br>
    Predicted Value: <%= predictedValue %></p>
  </div>
</div>
