<div class="subset-increment<%= isLast ? ' subset-increment-last' : '' %>">
  <h5>Increment #<%= i %></h5>
  <div><%= candidateRelevances %></div>
  <div><%= candidateRedundancies %></div>
  <div><%= subset %></div>
  <div>Relevance: <%= relevance.toFixed(3) %></div>
  <div>Redundancy: <%= redundancy.toFixed(3) %></div>
  <div>Rel - Red: <%= relred.toFixed(3) %></div>
  <div>MCC score: <%= scoring.score.toFixed(5) %></div>
  <div>Test size: <%= scoring.confusion.n %></div>
</div>
