<div class="subset-increment">
  <h5>Increment #<%= i %></h5>
  <div><%= candidateRedundancies %></div>
  <div><%= candidateRelevances %></div>
  <div><%= subset %></div>
  <div>Relevance: <%= relevance.toFixed(3) %></div>
  <div>Redundancy: <%= redundancy.toFixed(3) %></div>
  <div>Rel - Red: <%= relred.toFixed(3) %></div>
</div>
